<!-- categories -->
{{ if isset site.Taxonomies "issue_areas" }}
{{ if not (eq (len site.Taxonomies.issue_areas) 0) }}
<div class="widget category-widget">
  <div class="widget-title">
    <h3 class="h5 title-border">{{site.Params.issue_areas_title}}</h3>
  </div>
  
  <ul class="list-group list-unstyled">
    {{ range $name, $items := site.Taxonomies.issue_areas }}
    <li>
      <a href="{{ `issue_areas/` | relLangURL }}{{ $name | urlize | lower }}/" class="d-flex">
        {{ $name | humanize }} <small class="ms-auto">{{ len $items }}</small>
      </a>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}
{{ end }}