{{ define "main" }}

<section class="py-5 bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto text-center">
        <h1 class="h2 mb-0">{{ replace .Title "_" " " }}</h1>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row g-3 justify-content-center text-center">
        {{ if eq .Permalink (`ethnic_groups/` | absURL)}}
        {{ if gt (len site.Taxonomies.ethnic_groups) 0}}
        {{ range site.Taxonomies.ethnic_groups }}
        <div class="col-sm-3">
          <a class="text-dark fw-bold px-4 py-3 rounded bg-dark d-block text-capitalize" href="{{ .Page.RelPermalink }}"><i class="fas fa-tags me-1"></i># {{ .Page.Title }} ({{ .Count }})</a>
        </div>
        {{ end }}
        {{ else }}
        <div class="col-12 text-center">
          <h2 class="h4">{{ site.Params.no_ethnic_groups_found }}</h2>
        </div>
        {{ end }}
        {{ end }}

        {{ if eq .Permalink (`media_types/` | absURL)}}
        {{ if gt (len site.Taxonomies.media_types) 0}}
        {{ range site.Taxonomies.media_types }}
        <div class="col-sm-3">
          <a class="text-dark fw-bold px-4 py-3 rounded bg-dark d-block text-capitalize" href="{{ .Page.RelPermalink }}"><i class="fas fa-tags me-1"></i># {{ .Page.Title }} ({{ .Count }})</a>
        </div>
        {{ end }}
        {{ else }}
        <div class="col-12 text-center">
          <h2 class="h4">{{ site.Params.no_mediaTypes_found }}</h2>
        </div>
        {{ end }}
        {{ end }}

        {{ if eq .Permalink (`issue_areas/` | absURL)}}
        {{ if gt (len site.Taxonomies.issue_areas) 0}}
        {{ range site.Taxonomies.issue_areas }}
        <div class="col-sm-3">
          <a class="text-dark fw-bold px-4 py-3 rounded bg-dark d-block text-capitalize" href="{{ .Page.RelPermalink }}"><i class="fas fa-folder me-1"></i> {{ .Page.Title }} ({{ .Count }})</a>
        </div>
        {{ end }}
        {{ else }}
        <div class="col-12 text-center">
          <h2 class="h4">{{ site.Params.no_issueAreas_found }}</h2>
        </div>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>

{{ end }}